
<web-app>
<servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.tem.controller.UserLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
</servlet-mapping>
</web-app>
